body{
    margin: 1em 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    margin bottom: 10em;
}

nav a{
    text-decoration: none;
}

nav li{
    list-style: none;
}

.right a{
    color: gray;
    font-size: 20px;
}

.right img{
    width: 30px;
    height: 30px;
}

.right{
    display: flex;
    float: right;
    color: gray;
    font-size: 20px;
    margin: 1em;
}

.left a{
    float: left;
    color: gray;
    font-size: 20px; 
    padding: 1em;
    margin-left: -1em;
}

.left a:hover{
    text-decoration: underline;
}

.right li{
    padding-left: 1em;
}

.right-button a{
    color: white;
    font-size: rem;
    padding: 1.5em;
}

.right-button button{
    background-color: #1a73e8;
    block-size: 2.5em;
    width:100%;
    border-radius: 0.5em;
    border: transparent;

}

.right-button a:hover{
    text-decoration: underline;

}

.right a:hover{
    text-decoration: underline;
}

.right img:hover{
    cursor: pointer;
}

p{
    color: gray;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-top: 4em;
    margin-left: 0;
}

footer{
    margin-top: 3em;
    padding-top: 3em;
}

footer li{
    list-style: none;
    display: -webkit-inline-box;
    float: left;
    padding-right: 3em;
    margin-left: -2em;

}

footer a{
    text-decoration: none;
    color: gray;
}

footer a:hover{
    text-decoration: underline;
}

.container{
    display: block;
    margin: auto;
    width: 10%;
    padding-top: 4em;
    padding-left: -3em;
    

}

.container section{
    padding-top: 5em;
}

.container input{
    border-radius: 250em;
    width: 20rem;
    height: 1.5em;
    margin bottom: 2em;
}

.buttons{
    display: flex;
    margin-top: 1.5em;
    height: 1.5em;
    width: 15em;
    margin-left: 3em;
}

.buttons a{
    text-decoration: none;
    color: rgb(95, 99, 104);
    margin: auto;
}
 
.lucky-button{
    margin-left: 1.5em;
    margin-right: -4em;
}

